/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    background-color: #0044cc;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

/* Search bar styling */
.search-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-right: 0.5rem;
}

.search-bar button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ffdd33;
}

/* Map container styling */
#map {
    flex-grow: 1;
    height: calc(100vh - 120px); /* Adjust height to allow space for the header */
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}
